<h1>Lista ToDo</h1>
<div class="todolist">
{{#each todos}}
    <div class="onetodo-div">
        <p class="onetodo-div-date">Data dodania:<br> {{this.date}}</p>
        <h2 class="onetodo-div-title">{{this.title}}</h2>
        <form method="POST" action="/todo/{{this.id}}?_method=DELETE">
            <button class="onetodo-div-button" type="submit">Usuń</button>
        </form>
    </div>
{{/each}}
    <div class="text-entry-div">
    <form method="POST" action="/todo/add">
            <textarea class="text-entry-area" cols="30" rows="10" name="note" placeholder="Tu wpisz swoją nową notatke"></textarea>
            <button type="submit" class="text-entry-div-button">Dodaj notatkę</button>
    </form>
    </div>
</div>



